@import "scss/breakpoints.scss";
@import "scss/variables.scss";

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 4rem;

    @include breakpoint(mobile, landscape) {
        gap: 1rem;
    }

    > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    > button {
        align-self: center;
        margin-top: 2rem;
        height: 3.5rem;

        &[disabled] {
            background-color: $green;
            svg {
                transform: scale(0.5);
                circle {
                    color: $purple;
                }
            }
        }
    }

    [form-field] {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}
