{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.scss", "*.*.scss", "*.css", "*.*.css", "*.graphql"],
            "options": {
                "printWidth": 120,
                "singleQuote": false,
                "trailingComma": "es5"
            }
        }
    ],
    "plugins": ["./node_modules/@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "react",
        "^routing/(.*)",
        "^types/(.*)$",
        "^context/(.*)$",
        "^reactives/(.*)$",
        "^classes/(.*)$",
        "^hooks/(.*)$",
        "^containers/(.*)$",
        "^pages/(.*)$",
        "^templates/(.*)$",
        "^components/(.*)$",
        "^@(.*)$",
        "^services/(.*)$",
        "^helpers/(.*)$",
        "^constants/(.*)$",
        "^(../)",
        "^(./)(?!styles.module)",
        ".scss$",
        "./styles.module.scss"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
