@import "scss/variables.scss";
@import "scss/breakpoints.scss";

.mainLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0;

    @include breakpoint(tabletSmall) {
        padding: 0 3.5rem;
    }

    @include breakpoint(tabletSmall, landscape) {
        padding: 0 8rem;
    }

    @include breakpoint(desktop) {
        padding: 0 15rem;
    }

    header {
        height: 100%;
        width: 100%;

        @include breakpoint(tabletSmall, landscape) {
            height: auto;
        }

        @include breakpoint(tabletSmall, portrait) {
            height: auto;
        }
    }

    .contentWrapper {
        flex: 1;
        margin-top: $marginUnit;
        display: flex;
        flex-direction: row;

        main {
            flex: 1;
        }

        nav {
            display: none;
            width: 26rem;

            @include breakpoint(tabletSmall) {
                display: block;
            }

            @include breakpoint(tabletSmall, landscape) {
                display: block;
            }
        }
    }
}
