@import "scss/variables.scss";
@import "scss/breakpoints.scss";

.mainLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $marginUnit;
    padding: 0;
    position: relative;

    @include breakpoint(tabletSmall) {
        padding: 0 $marginUnit;
    }

    @include breakpoint(tabletSmall, landscape) {
        padding: 0 $marginUnit;
    }

    > header {
        height: 100%;
        width: 100%;

        @include breakpoint(tabletSmall, landscape) {
            height: auto;
        }

        @include breakpoint(tabletSmall, portrait) {
            height: auto;
        }
    }

    .contentWrapper {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: $rowGap $columnGap;

        > main {
            flex: 1;
        }

        > nav {
            display: none;
            width: 26rem;

            @include breakpoint(tabletSmall) {
                display: block;
            }

            @include breakpoint(tabletSmall, landscape) {
                display: block;
            }
        }
    }

    > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
