@keyframes popIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes opacityInDelayed {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@mixin slideInRightBy($x, $name) {
    @keyframes slideInRight#{$name} {
        from {
            transform: translateX($x);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@keyframes slideInBottomWithOpacity {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
