// stylelint-disable no-descending-specificity
@import "scss/mixins.scss";
@import "scss/variables.scss";

.MuiFormControl-root.MuiTextField-root {
    > label.MuiFormLabel-root:not(.Mui-error),
    > p.MuiFormHelperText-root:not(.Mui-error),
    > .MuiInputBase-root > input {
        color: $text;
    }

    > .MuiInputBase-root {
        > input {
            font-size: 2rem;
            &:-webkit-autofill {
                transition-delay: 99999s;
            }
        }

        &.MuiFilledInput-underline:not(.Mui-error) {
            &::after {
                border-bottom-color: $green;
            }
        }
    }

    > p.MuiFormHelperText-root {
        font-size: 1.4rem;
    }

    > label.MuiFormLabel-root {
        font-size: 1.7rem;

        &.Mui-focused:not(.Mui-error) {
            color: $green;
        }
    }

    > button.MuiButtonBase-root {
        font-size: 1.8rem;
    }
}

.MuiButton-containedPrimary {
    background-color: $green;
    color: $purple;
    &:hover {
        background-color: $greenDarken10Percent;
    }
    &.MuiButton-contained.Mui-disabled {
        background-color: $green;
        color: $purple;

        &:hover {
            background-color: $green;
        }

        svg {
            circle {
                color: $purple;
            }
        }

        .MuiCircularProgress-svg {
            transform: scale(0.5);
        }
    }
}

.MuiButton-outlinedPrimary {
    border-color: $green;
    color: $green;
    background-color: $purple;
    &:hover {
        font-weight: 600;
        color: $purple;
        background-color: $green;
    }
}

.MuiButton-textPrimary {
    border: none;
    color: $textPrimary;
    background-color: transparent;
    font-weight: bold;
    transition: all 400ms;
    &:hover,
    &[data-is-active="true"] {
        color: $green;
        background-color: $highlightPurple;
    }
}

.MuiButton-containedPrimary,
.MuiButton-containedSecondary,
.MuiButton-outlinedPrimary,
.MuiButton-textPrimary {
    @include mainButtonStyles;
}

.MuiCircularProgress-colorPrimary {
    color: $green;
    border-color: $green;
}
