$zIndexMax: 10;
$zIndexTop: 5;
$zIndexAboveBase: 2;
$zIndexBase: 0;
$zIndexBelowBase: -1;

$blue: #26547c;
$light: #84a9c0;
$yellow: #fc0;
$red: #ef476f;
$green: #06d6a0;
$white: #fffcf9;
$black: #000;

$spacingMain: 3rem;
