@import "scss/variables.scss";

.genericLayout {
    height: 100%;
    width: 100%;
    background-color: $purple;
    padding: $marginUnit;
    main {
        width: 100%;
        height: 100%;
    }
}
