@import "scss/mixins.scss";
@import "scss/breakpoints.scss";
@import "scss/variables.scss";

.issueWrapper {
    @include genericPaperWrapper();

    gap: 0;

    h1,
    svg {
        color: $text;
    }

    h1 {
        text-align: center;
        b {
            color: $green;
        }
    }

    svg {
        width: 20rem;
        height: 20rem;

        @include breakpoint(mobile, landscape) {
            width: 10rem;
            height: 10rem;
        }

        @include breakpoint(tabletBig) {
            width: 25rem;
            height: 25rem;
        }
    }

    > button {
        margin-top: $tapUnit;
    }

    > div {
        flex: 1;
        overflow: auto;
    }
}
