@import "scss/mixins.scss";

@keyframes dashArray {
    0% {
        stroke-width: 30px;
        stroke: $paperBg;
    }
    // 1s
    0.333% {
        stroke-width: 20px;
    }

    // 1.8s
    0.6% {
        stroke-width: 3px;
        stroke: $paperBg;
    }

    // 2.6s
    0.866% {
        stroke-width: 3px;
        stroke: $green;
    }

    to {
        stroke-dashoffset: 7500;
    }
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
        width: 100%;
        height: 100%;
        > path {
            stroke-width: 2px;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            stroke-dasharray: 7 30;
            stroke: $green;
            text-align: center;
            fill: $text;

            @include breakpoint(tabletBig, portrait) {
                stroke-width: 3px;
            }
            @include breakpoint(tabletBig, landscape) {
                stroke-width: 3px;
            }

            @include animate(dashArray, 300s, unset, none);

            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}
