@import "scss/variables.scss";
@import "scss/keyframes.scss";
@import "scss/mixins.scss";
@import "scss/breakpoints.scss";

.header {
    position: relative;
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
    background-color: $purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-right: 0;
    margin: 0;
    padding: 0;

    &[data-open="true"] {
        transform: translateX(100%);
        &::before {
            right: -1px;
        }
    }

    &::before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: $green;
        position: absolute;
        top: 0;
        right: 1px;
    }

    &::after {
        bottom: 0.5rem;
        font-size: 0.8rem;
    }

    &::before,
    &::after {
        display: none;
    }

    > .logo {
        position: relative;
        width: 24rem;
        top: 0;
        // make up for white space of logo
        left: -5px;
    }

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $spacingUnit;
        width: 100%;
        max-width: 100%;
        overflow: auto;
        flex: 1;
        flex: unset;
        padding-top: 0;

        > button {
            width: 12rem;
            font-size: 1.4rem;
            height: 3rem;

            &:first-of-type {
                @include animate(opacityInDelayed, 1s, unset, forwards, $cubicBezier_0);
            }

            &:last-of-type {
                @include animate(opacityInDelayed, 2.5s, unset, forwards, $cubicBezier_0);
            }
        }

        > [data-id="mainSideMenu"] {
            flex: 1;
            margin-top: $marginUnit;

            > div {
                max-width: 100%;

                button {
                    box-sizing: border-box;
                    left: 0;
                    margin-bottom: $spacingUnit;
                }
            }
        }
    }
}

@include breakpoint(desktop) {
    .header {
        .actions {
            flex-direction: row;
        }
    }
}
