@import "scss/mixins.scss";

@mixin dashArrayWithCustomBG($variantName, $bgColor, $dashColor) {
    @keyframes dashArrayAnimate#{$variantName} {
        0% {
            stroke-width: 30px;
            stroke: $bgColor;
        }
        // 1s
        0.333% {
            stroke-width: 20px;
        }

        // 1.8s
        0.6% {
            stroke-width: 3px;
            stroke: $bgColor;
        }

        // 2.6s
        0.866% {
            stroke-width: 3px;
            stroke: $dashColor;
        }

        to {
            stroke-dashoffset: 7500;
        }
    }
}

// create keyframes
@include dashArrayWithCustomBG("PageBG", $purple, $green);
@include dashArrayWithCustomBG("PaperBG", $paperBg, $green);

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
        width: 100%;
        height: 100%;
        > path {
            stroke-width: 2px;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            stroke-dasharray: 7 30;
            stroke: $green;
            text-align: center;
            fill: $text;

            @include breakpoint(tabletBig, portrait) {
                stroke-width: 3px;
            }
            @include breakpoint(tabletBig, landscape) {
                stroke-width: 3px;
            }
        }
    }

    // determine the bg color that the text appars from
    &[data-modifier="paperBG"] {
        > svg > path {
            @include animate(dashArrayAnimatePaperBG, 300s, unset, none);

            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    &[data-modifier="pageBG"] {
        > svg > path {
            @include animate(dashArrayAnimatePageBG, 300s, unset, none);

            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}
