@import "scss/variables.scss";
@import "scss/keyframes.scss";
@import "scss/mixins.scss";
@import "scss/breakpoints.scss";

.header {
    position: fixed;
    top: 0;
    left: -100%;
    transition: 400ms all linear;
    width: 100%;
    height: 100%;
    padding: 3rem;
    box-sizing: border-box;

    &[data-open="true"] {
        transform: translateX(100%);
        &::before {
            right: -1px;
        }
    }

    @include breakpoint(mobile, landscape) {
        width: 30rem;
        left: -30rem;
        &[data-open="true"] {
            transform: translateX(30rem);
        }
    }

    &::before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: $green;
        position: absolute;
        top: 0;
        right: 1px;
    }

    background-color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;
        padding-top: 3rem;
        flex: 1;

        > button {
            width: 100%;
        }

        .logoutBtn {
            position: relative;
            transition: 800ms all $cubicBezier_0;

            &:hover {
                top: -3px;
            }
        }
    }

    @mixin noSideMenu {
        position: relative;
        top: 0;
        left: 0;
        transition: unset;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-right: 0;
        padding: 0;

        @include animate(slideInRight, 600ms);

        &::before {
            display: none;
        }

        .actions {
            width: auto;
            flex: unset;
            padding-top: 0;

            > button {
                &:first-child {
                    @include animate(opacityInDelayed, 2.5s, unset, forwards, $cubicBezier_0);
                }
                &:last-child {
                    @include animate(opacityInDelayed, 3.5s, unset, forwards, $cubicBezier_0);
                }
            }
        }
    }

    @include breakpoint(tabletSmall, portrait) {
        @include noSideMenu();
    }

    @include breakpoint(tabletSmall, landscape) {
        @include noSideMenu();
    }
}
