@import "scss/variables.scss";

.mainSideMenuWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $marginUnit;

    [data-id="categoryButtonsWrapper"] {
        &:first-of-type {
            max-width: 12rem;
        }
    }
}
