@import "scss/variables.scss";

.navigationDotsWrapper {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    gap: $baseUnit;
    justify-content: center;
    align-items: center;

    button {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background-color: $textDarken20Percent;
        transition: all 0.5s;

        &[data-is-active="true"] {
            background-color: $text;
            transform: scale(1.4);
        }
    }
}
