$zIndexMax: 10;
$zIndexTop: 5;
$zIndexAboveBase: 2;
$zIndexBase: 0;
$zIndexBelowBase: -1;

$blue: #007aff;
$lightBlue: #00a0ff;
$errorRed: #ed5565;
$grey: #8e8e8e;

$primaryColor: $blue;
$secondaryColor: $lightBlue;
$mainAppBg: white;
